.header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.header-content {
  width: 90vh;
  padding-top: 25vh; }

.header-img {
  width: 100%;
  height: 100%; }

.navbar {
  opacity: 0.9; }
